<h1>Les Communes</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <button class="breadcrumb-item active " aria-current="page">Communes </button>
    
    <button class="breadcrumb-item ">
      <a href="/regions">Regions </a>
    </button>

    <button class="breadcrumb-item">
      <a href="/departements">Departements </a>
    </button>

  </ol>
</nav>
<table class="table table-striped table-hover">
  <thead>

    <tr>
      <th>Nom</th>
      <th>Code Postal</th>
      <th>Code</th>
      <th>Code Departement </th>
      <th>Code Region</th>
    </tr>
  </thead>
  <tbody>
