body{
background-color: lightgray;

}
h1{
  text-align: center ;
}
li
{
  list-style: none;
  display: inline;


}
a{
  text-decoration: none;

}
button:active{
  background-color: black;
  color: white;
}
